@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

/* ############# Css starts for header ########## */
.container {
    width: 90%;
    display: flex;
}

.cart-profile-logo {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1.5rem;
    /* padding-left: 10rem; */
    margin-left: 2rem;
    background: none;
}


.cart-profile-logo:hover {
    cursor: pointer;
}


.search-container {
    display: flex;
    align-items: center;
    gap: 12px;
    /* width: 500px; */
    height: 40px;
    padding: 1rem 0.6rem;
    border-radius: 60px;
    background: #F0F0F0;
}

.search-container:hover {
    cursor: pointer;
}

.search-container input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 20px;
    font-size: 1.5rem;
}

.search-container .search-img1 {
    background: transparent;
}

.search-img2 {
    display: none;
}

/* ############# navbar styling######### */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    position: sticky;
    width: 80%;
    height: 50px;
    background: #fff;
    color: #000;
    z-index: 999;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.navbar-container {
    display: flex;
    justify-content: center;
    height: 64px;
    align-items: center;
}


.menu-items {
    order: 2;
    display: flex;
}

.menu-items li {
    list-style: none;
    font-size: 1.8rem;
    font-weight: 400;
    width: 150px;
    letter-spacing: 2px;
}

.menu-items .shop-head span {
    font-size: 3rem;
    font-weight: 900;
    display: none;
}

.menu-items .shop-img {
    position: absolute;
    width: 15px;
    margin-top: 3px;
    padding-left: 3px;
}

.navbar .menu-items li h1 {
    color: #000;
    font-weight: bold;
}


.logo {
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    display: block;
}

.navbar a {
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #117964;
}


.first-para {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20rem;
    width: 100%;
    height: 40px;
    background: #333;
    color: #fff;
    font-size: 1.3rem;
}


.para1 .sign-up {
    text-decoration: underline;
    font-weight: bold;
}

.para1 .sign-up:hover {
    cursor: pointer;
}


/* ################ Landing page design######### */
.section-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #F2F0F1;
    width: 100%;
    height: auto;
}

.main-image {
    width: 100%;
    min-width: 300px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.star-position {
    position: relative;
    width: 90%;
}

.star-position .main-image {
    width: 100%;
    min-width: 300px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.star1 {
    position: absolute;
    top: 20%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 20%;
    object-fit: contain;
    min-width: 20px;
}

.star2 {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    object-fit: contain;
    min-width: 15px;
}


.wrap-wrapper {
    grid-column: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 5rem;
}


.wrap-wrapper .head {
    font-size: 5rem;
    font-weight: 900;
    width: 70%;
}

.wrap-wrapper p {
    font-size: 1.8rem;
    color: #00000099;
    line-height: 20px;
    margin-bottom: 1rem;
}

.btn {
    width: 200px;
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    background: #000000;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.btn:hover {
    cursor: pointer;
    background: transparent;
    color: #000;
}

.inner-wrapper {
    display: flex;
    padding-left: 0.5rem;
    margin-bottom: 2rem;
}

.inner-wrapper .wrap-item:not(:nth-child(1)) .inner-para {
    color: #00000099;

}

.inner-wrapper .wrap-item .inner-head {
    font-size: 3rem;

}

.inner-wrapper .wrap-item .inner-para {
    width: 180px;

}

.inner-wrapper .wrap-item:not(:nth-child(1)) {
    border-left: 1px solid #0000001A;
    padding-left: 2rem;
}

.image-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100px;
    padding: 2rem 1rem;
    background: #000000;
}


/* ################## New Arrival section ######## */
.arrival-head {
    font-size: 4rem;
    text-align: center;
    margin-top: 4rem;
    text-transform: uppercase;
}


.blog-card-wrapper {
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    overflow-x: hidden;
}

.blog-card-image {
    overflow: hidden;
}

.blog-card-image img {
    object-fit: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 90%;
    min-height: 200px;
    border-radius: 10px;

}

.blog-card-title {
    text-align: left;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 5px;
}

.blog-card-body {
    padding: 4px;
}

.blog-card-info {
    margin-bottom: 5px;
    font-size: 1.25rem;

}

.blog-card-info .star {
    color: #FFC633;
    font-size: 2rem;
}

.btn-div {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.view-btn {
    border-radius: 20px;
    padding: 1rem;
    width: 200px;
    background: transparent;
}

.horizontal-line {
    margin: 0 auto;
    width: 90%;
}

.view-btn:hover {
    cursor: pointer;
    background: #f2efef;
}

.blog-card-info {
    position: relative;
    display: inline-block;
}

.half-star {
    background: linear-gradient(to right, gold 50%, gray 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.blog-card-body .blog-card-title {
    text-transform: capitalize;
    margin-top: 0.5rem;
}

.blog-card-likes .grey-card {
    color: #00000066;
    font-size: 1.5rem;
    text-decoration: line-through;
}

.blog-card-likes .price {
    font-size: 1.5rem;
}

.blog-card-info .rating {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.blog-card-likes .red-card {
    background: #FF33331A;
    color: #ff3333;
    border-radius: 10px;
}

.blog-card-likes span {
    margin-top: 0.5rem;
    margin-left: .5rem;
}


/* #################### Browse section styling######## */
.main-container {
    width: 90%;
    margin: 0 auto;
    background: #f0f0f0;
    border-radius: 40px;
    text-align: center;
    margin-bottom: 2rem;

}


.browse-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 5rem auto;
}

.browse-image img {
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    margin: 3rem;
    width: 85%;
    height: 300px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 25px;
}

.header {
    display: inline-block;
    font-size: 4rem;
    font-weight: 900;
    margin: 5rem;

}

.browse-image {
    position: relative;
}

.browse-image .img-head {
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 30%;
    font-size: 2.5rem;
}


/* ################# Review styling############ */

.review-star {
    color: #FFC633;
    font-size: 2rem;
}

.customer-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.customer-container .review-header {
    font-size: 3rem;
    font-weight: 900;
    margin-left: 7rem;
}

.arrow-container .arrow {
    font-size: 2rem;
    font-weight: 900;
    padding-right: 2rem;
}

.review-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7rem auto;
}

.review-container .review-item {
    border-radius: 10px;
    border: 1px solid #0000001A;
    padding: 1rem;
    margin-right: 2rem;
    width: 400px;
    height: 200px;
}

.review-container .review-item h3 {
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.review-item p {
    font-size: 1.3rem;
}



/* ################# Update container design####### */

.update-container {
    background: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    padding: 0 2rem;
}

.update-container .update-head {
    font-size: 3rem;
    text-align: center;
}

.update-search {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 500px;
    height: 40px;
    padding: 12px 16px;
    border-radius: 60px;
    background: #F0F0F0;
    margin-bottom: 1rem;
}

.update-search:hover {
    cursor: pointer;
    border: 1px solid black;
}

.update-search input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.5rem;
}

.update-search .search-img1 {
    background: transparent;
}

.update-container .update-head {
    font-size: 3rem;
    text-align: center;

    padding: 3rem;
}

.search-box {
    margin-top: 2rem;
}

.search-box .search-container {
    margin-bottom: 1rem;
}



/* ############# Footer styling######### */

.footer {
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    position: relative;
    margin: 0 auto;
}

.update-container {
    position: absolute;
    top: -15%;
    left: 1%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
}



.footer-box {
    padding: 5px;
    width: 200px;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.main-footer-head {
    font-size: 4rem;
    font-weight: 900;
}

.list {
    font-size: 1.2rem;
    list-style-type: none;
    line-height: 2.5rem;
    margin-top: 1.5rem;

}

.paragraph {
    font-size: 1.3rem;
}

.social-media {
    margin: 1rem 0 0 1rem;
    font-size: 2rem;

}

.social-media li {
    display: inline-block;
    list-style: none;
}

.social-media li a {
    text-decoration: none;
}

.social-media li a:hover {
    color: rgb(165, 107, 107);
}

/* ############# footer styling########## */

.foot-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.footer-image {
    display: flex;
}



/* ##############media queries########## */

@media(max-width:576px) {

    body {
        min-width: 400px;
    }

    .first-para {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 0;
        width: 100%;
        height: 40px;
        background: #333;
        color: #fff;
        font-size: 1.3rem;
    }

    .container {
        width: 90%;
        margin: 0;
        display: flex;
    }

    .navbar {
        opacity: 0.95;
        width: 95%;
    }

    .navbar-container input,
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 40px;
        top: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 32px;
        width: 40px;
        position: absolute;
        top: 20px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 3px;
        width: 90%;
        background: #000;
        border-radius: 10px;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4 ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {

        transition: transform 0.4 ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4 ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translateX(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.4s ease-in-out;
        box-shadow: 5px 0 10px 0 #aaa;
    }

    .navbar .menu-items li {
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: 500;

    }

    .logo {
        display: block;
        position: absolute;
        font-size: 3rem;
        font-weight: 900;
        margin-right: 0;
        margin-left: 5rem;
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    .search-container {
        display: none;
    }

    .search-img2 {
        display: inline-block;
    }

    .cart-profile-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding-left: 0;
        min-width: 100px;
    }

    .logo {
        margin-top: 0.8rem;
    }

    .container {
        width: 90vw;
    }

    .section-wrapper {
        grid-template-columns: 1fr;
        background: #F2F0F1;
    }


    .image-wrapper {
        grid-row: 2;
        width: 100%;
        height: 100%;
    }

    .image-wrapper .main-image {
        width: 90%;
        min-width: 100px;
        object-fit: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .star-position {
        position: relative;
        width: 100%;
    }

    .star1 {
        position: absolute;
        top: 12%;
        left: 85%;
        transform: translate(-50%, -50%);
        width: 30%;
        height: auto;
        object-fit: contain;
        min-width: 20px;
    }

    .star2 {
        position: absolute;
        top: 65%;
        left: 30%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: auto;
        object-fit: contain;
        min-width: 15px;
    }


    .wrap-wrapper {
        grid-row: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }


    .wrap-wrapper .head {
        display: inline-block;
        font-size: 3rem;
        font-weight: 900;
        align-items: center;
        margin-top: 1rem;
        padding: 3rem;
        width: 90%;
    }

    .wrap-wrapper p {
        width: 80%;
        font-size: 2.1rem;
        color: #00000099;
        line-height: 20px;
        margin-bottom: 1rem;
        padding-left: 0;
    }

    .wrap-wrapper .paragraph {
        padding-left: 3rem;
    }

    .btn {
        width: 90%;
        height: 50px;
        border-radius: 20px;
        text-align: center;
        background: #000000;
        color: #FFFFFF;
        margin: 0 auto;
    }

    .btn:hover {
        cursor: pointer;
        background: transparent;
        color: #000;
    }

    .inner-wrapper {
        display: flex;
        padding: 1rem;
        justify-content: space-around;
        align-items: center;
    }

    .inner-wrapper .wrap-item:not(:nth-child(1)) .inner-para {
        color: #00000099;

    }

    .inner-wrapper .wrap-item .inner-head {
        font-size: 2.5rem;

    }

    .inner-wrapper .wrap-item .inner-para {
        width: 110px;

    }


    .image-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1rem;
        min-height: 100px;
        background: #000000;
        padding: 2rem 0;
        width: 100%;
        margin: 0 auto;
    }


    /* ################footer styling ########## */

    .footer-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto auto auto;
        width: 90%;
        margin: 10rem 0 0 0;
    }

    .footer-width-container {
        margin-top: 10rem;
    }

    .footer-container .first {
        grid-row: 1/span 3;
        grid-column: 1/span 2;
        width: 100%;
        height: 100%;
        place-self: center;
    }

    .item2,
    .item3,
    .item4,
    .item5 {
        width: calc(50%);
        height: calc(33.33%);
    }

    .item1 {
        grid-column: 1;
        grid-row: 2;
    }

    .item2 {
        grid-column: 1;
        grid-row: 3;
    }

    .item3 {
        grid-column: 2;
        grid-row: 2;
    }

    .item4 {
        grid-column: 2;
        grid-row: 3;
    }

    .paragraph {
        font-size: 2rem;
        margin-bottom: 1rem;
        line-height: 3rem;
    }

    .social-media {
        font-size: 3rem;
    }

    .footer-box {
        grid-column: span 2;
        padding-left: 1rem;
        margin-top: 10rem;
        margin-bottom: 0;
        width: 190px;
    }

    .list {
        font-size: 2rem;
        list-style-type: none;
        line-height: 3.5rem;

    }

    /* #################### Browse section styling######## */
    .main-container {
        width: 90%;
        margin: 0 auto;
        background: #f0f0f0;
        border-radius: 40px;
        text-align: center;
        margin: 4rem auto;

    }


    .browse-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin: 2rem auto;
    }

    .browse-image img {
        object-fit: cover;
        object-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 1rem;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        display: inline-block;
        border-radius: 25px;
    }

    /* ############footer copyright styling####### */

    .foot-container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0;
        gap: 1rem;
        padding: 0;
    }

    .foot-container .copyright {
        font-size: 1.7rem;
    }

    .footer-image {
        display: flex;
        gap: 1rem;
    }

    .footer-image img {
        background-color: #ffff;
        font-size: 3rem;
        width: 40px;

    }

    /* ########### update design######### */


    .footer {
        width: 100%;
        height: 100%;
        background: #f0f0f0;
        position: relative;
        margin: 0 auto;
        padding-left: 1rem;
    }

    .update-container {
        position: absolute;
        top: -10%;
        left: 5%;
        width: 85%;
        display: flex;
        margin: 0 auto;
    }

    .update-container {
        background: #000000;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
    }

    .update-search {
        display: flex;
        align-items: center;
        gap: 12px;
        width: 100%;
        height: 40px;
        padding: 12px 16px;
        border-radius: 60px;
        background: #F0F0F0;
    }

    .update-search input {
        flex: 1;
        border: none;
        outline: none;
        background: transparent;
        font-size: 1.5rem;
    }

    .update-search .search-img1 {
        background: transparent;
    }

    .update-container .update-head {
        font-size: 3rem;
        text-align: center;
    }

    .search-box {
        margin-top: 2rem;
    }

    .search-box .search-container {
        margin-bottom: 1rem;
    }

    /* ################# Review styling######### */
    .customer-container {
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        margin: 3rem auto;
    }

    .customer-container .review-header {
        font-size: 4rem;
        font-weight: 900;
        text-align: center;
        margin: 0;
    }

    .arrow-container .arrow {
        font-size: 4rem;
        font-weight: 900;
    }

    .review-container {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin: auto;
        margin-bottom: 12rem;
    }

    .review-item p {
        font-size: 1.9rem;
        line-height: 1.5;
    }

    .review-container .review-item h3 {
        font-size: 2.3rem;
        padding-bottom: 1rem;
    }

    .review-star {
        color: #FFC633;
        font-size: 2.5rem;
        margin-top: 0;
    }

    .review-container .review-item {
        border-radius: 10px;
        border: 1px solid #0000001A;
        padding: 1rem;
        width: 100%;
        height: auto;
    }

    /* ########## new and top selling styling######### */
    .blog-card-wrapper {
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .blog-card {
        text-align: center;
        margin-bottom: 3rem;
    }

    .view-btn {
        border-radius: 20px;
        padding: 1rem;
        width: 200px;
        background: transparent;
        font-size: 2rem;
        font-weight: bold;
        margin: 0 0 5rem 0;
    }

    .blog-card-title {
        text-align: center;
    }

    .blog-card-title {
        font-size: 2.5rem;
    }

    .blog-card-info .star {
        font-size: 2.5rem;
    }

    .blog-card-info .rating {
        font-size: 1.7rem;
    }

    .blog-card-likes .price {
        font-size: 2.2rem;
        font-weight: bold;
    }

    .blog-card-likes .red-card {
        background: #FF33331A;
        color: #ff3333;
        border-radius: 15px;
        font-size: 1.7rem;
    }

    .blog-card-likes .grey-card {
        color: #00000066;
        font-size: 2rem;
        text-decoration: line-through;
    }

}

/* ################### Media queries for Tablets#################### */

@media screen and (min-width:577px) and (max-width:768px) {

    .first-para {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 0;
        width: 100%;
        height: 40px;
        background: #333;
        color: #fff;
        font-size: 1.3rem;
    }

    .container {
        width: 90%;
        margin: 0;
        display: flex;
    }

    .navbar {
        opacity: 0.95;
    }

    .navbar-container input,
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 40px;
        top: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 32px;
        width: 40px;
        position: absolute;
        top: 20px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 3px;
        width: 90%;
        background: #000;
        border-radius: 10px;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4 ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {

        transition: transform 0.4 ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4 ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translateX(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.4s ease-in-out;
        box-shadow: 5px 0 10px 0 #aaa;
    }

    .navbar .menu-items li {
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: 500;

    }

    .logo {
        display: block;
        position: absolute;
        font-size: 3rem;
        font-weight: 900;
        margin-right: 0;
        margin-left: 5rem;
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    .search-container {
        display: none;
    }

    .search-img2 {
        display: inline-block;
    }

    .cart-profile-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        padding-left: 0;
    }

    .logo {
        margin-top: 0.8rem;
        font-size: 4rem;
    }

    .container {
        width: 90vw;
    }

    .section-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }


    .image-wrapper {
        grid-row: 2;
        width: 100%;
        height: 100%;
    }

    .image-wrapper .main-image {
        width: 90%;
        min-width: 100px;
        object-fit: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .star-position {
        position: relative;
        width: 100%;
    }

    .star1 {
        position: absolute;
        top: 12%;
        left: 85%;
        transform: translate(-50%, -50%);
        width: 30%;
        height: auto;
        object-fit: contain;
        min-width: 20px;
    }

    .star2 {
        position: absolute;
        top: 65%;
        left: 30%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: auto;
        object-fit: contain;
        min-width: 15px;
    }


    .wrap-wrapper {
        grid-row: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }


    .wrap-wrapper .head {
        display: inline-block;
        font-size: 5rem;
        font-weight: 900;
        align-items: center;
        margin-top: rem;
        text-align: center;
        padding: 4rem 4rem;
        width: 80%;
    }

    .wrap-wrapper p {
        font-size: 2rem;
        color: #00000099;
        line-height: 3rem;
        margin-bottom: 4rem;
    }

    .wrap-wrapper .paragraph {
        font-size: 2.5rem;
        width: 80%;
    }

    .btn {
        width: 50%;
        height: 50px;
        border-radius: 20px;
        text-align: center;
        background: #000000;
        color: #FFFFFF;
        margin: 0 auto;
        font-size: 2.5rem;
    }

    .btn:hover {
        cursor: pointer;
        background: transparent;
        color: #000;
    }

    .inner-wrapper {
        width: 90%;
        display: flex;
        padding: 2rem 0;
    }

    .inner-wrapper .wrap-item:not(:nth-child(1)) .inner-para {
        color: #00000099;

    }

    .inner-wrapper .wrap-item .inner-head {
        font-size: 3rem;

    }

    .image-section {
        display: flex;
        justify-content: space-around;
        gap: 1rem;
        min-height: 100px;
        background: #000000;
        padding: 2rem 0;
        margin: 0 auto;
    }


    /* ################footer styling ########## */

    .footer-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto auto auto;
        width: 90%;
        margin: 10rem 0 0 0;
    }

    .footer-width-container {
        margin-top: 10rem;
    }

    .footer-container .first {
        grid-row: 1/span 3;
        grid-column: 1/span 2;
        width: 100%;
        height: 100%;
        place-self: center;
    }

    .item2,
    .item3,
    .item4,
    .item5 {
        width: calc(50%);
        height: calc(33.33%);
    }

    .item1 {
        grid-column: 1;
        grid-row: 2;
    }

    .item2 {
        grid-column: 1;
        grid-row: 3;
    }

    .item3 {
        grid-column: 2;
        grid-row: 2;
    }

    .item4 {
        grid-column: 2;
        grid-row: 3;
    }

    .paragraph {
        font-size: 2rem;
        margin-bottom: 1rem;
        line-height: 3rem;
    }

    .social-media {
        font-size: 3rem;
    }

    .footer-box {
        grid-column: span 2;
        padding-left: 1rem;
        margin-top: 10rem;
        margin-bottom: 0;
        width: 190px;
    }

    .list {
        font-size: 2rem;
        list-style-type: none;
        line-height: 3.5rem;

    }

    /* #################### Browse section styling######## */
    .main-container {
        width: 90%;
        margin: 0 auto;
        background: #f0f0f0;
        border-radius: 40px;
        text-align: center;
        margin: 4rem auto;

    }


    .browse-container {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin: 2rem auto;
    }

    .browse-image img {
        object-fit: cover;
        object-position: center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 1rem;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        display: inline-block;
        border-radius: 25px;
    }

    /* ############footer copyright styling####### */

    .foot-container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0;
        gap: 1rem;
        padding: 0;
    }

    .foot-container .copyright {
        font-size: 1.7rem;
    }

    .footer-image {
        display: flex;
        gap: 1rem;
    }

    .footer-image img {
        background-color: #ffff;
        font-size: 3rem;
        width: 40px;

    }

    /* ########### update design######### */


    .footer {
        width: 100%;
        height: 100%;
        background: #f0f0f0;
        position: relative;
        margin: 0 auto;
        padding-left: 1rem;
    }

    .update-container {
        position: absolute;
        top: -10%;
        left: 5%;
        width: 85%;
        display: flex;
        margin: 0 auto;
    }

    .update-container {
        background: #000000;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
    }

    .update-search {
        display: flex;
        align-items: center;
        gap: 12px;
        width: 100%;
        height: 40px;
        padding: 12px 16px;
        border-radius: 60px;
        background: #F0F0F0;
    }

    .update-search input {
        flex: 1;
        border: none;
        outline: none;
        background: transparent;
        font-size: 1.5rem;
    }

    .update-search .search-img1 {
        background: transparent;
    }

    .update-container .update-head {
        font-size: 3rem;
        text-align: center;
    }

    .search-box {
        margin-top: 2rem;
    }

    .search-box .search-container {
        margin-bottom: 1rem;
    }

    /* ################# Review styling######### */
    .customer-container {
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        margin: 3rem auto;
    }

    .customer-container .review-header {
        font-size: 4rem;
        font-weight: 900;
        text-align: center;
        margin: 0;
    }

    .arrow-container .arrow {
        font-size: 4rem;
        font-weight: 900;
    }

    .review-container {
        width: 90%;
        /* height: auto; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin: auto;
        margin-bottom: 12rem;
    }

    .review-item p {
        font-size: 1.9rem;
        line-height: 1.5;
    }

    .review-container .review-item h3 {
        font-size: 2.3rem;
        padding-bottom: 1rem;
    }

    .review-star {
        color: #FFC633;
        font-size: 2.5rem;
        margin-top: 0;
    }

    .review-container .review-item {
        border-radius: 10px;
        border: 1px solid #0000001A;
        padding: 1rem;
        width: 100%;
        height: auto;
    }

    /* ########## new and top selling styling######### */
    .blog-card-wrapper {
        margin: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-card {
        text-align: center;
        margin-bottom: 3rem;
    }

    .view-btn {
        border-radius: 20px;
        padding: 1rem;
        width: 200px;
        background: transparent;
        font-size: 2rem;
        font-weight: bold;
        margin: 0 0 5rem 0;
    }

    .blog-card-title {
        text-align: center;
        margin-bottom: 0;
    }

    .blog-card-title {
        font-size: 2.5rem;
    }

    .blog-card-info .star {
        font-size: 2.5rem;
    }

    .blog-card-info .rating {
        font-size: 1.7rem;
    }

    .blog-card-likes .price {
        font-size: 2.2rem;
        font-weight: bold;
    }

    .blog-card-likes .red-card {
        background: #FF33331A;
        color: #ff3333;
        border-radius: 15px;
        font-size: 1.7rem;
    }

    .blog-card-likes .grey-card {
        color: #00000066;
        font-size: 2rem;
        text-decoration: line-through;
    }

}



/* ################## Media queries for Bigger Tablets and Small laptops############ */


@media screen and (min-width:769px) and (max-width:1200px) {
    .container {
        width: 80%;
        display: flex;
        margin: 0 auto;
        height: 100px;
        align-items: center;
    }

    .logo {
        margin-right: 2rem;
        font-size: 3rem;
    }

    .navbar {
        position: sticky;
        height: 50px;
        width: 100%;
        background: #fff;
        color: #000;
        /* opacity: 0.85; */
        z-index: 999;
        display: flex;
        /* padding-left:8rem; */
    }

    .cart-profile-logo {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .navbar-container .container li {
        display: inline-block;
        padding: 0;
    }

    .menu-items li {
        list-style: none;
        font-size: 1.8rem;
        font-weight: 400;
        width: 100px;
        letter-spacing: 2px;
    }

    .search-container {
        display: flex;
        align-items: center;
        padding: 0;
        background: none;
    }

    .section-wrapper {
        grid-template-columns: 1fr;
    }


    .wrap-wrapper {
        grid-column: 1;
        width: 100%;
        height: 340px;
        margin: 4rem auto;
    }

    .image-wrapper .main-image {
        width: 100%;
        height: 420px;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .star1 {
        position: absolute;
        top: 20%;
        left: 90%;
        transform: translate(-50%, -50%);
        height: auto;
        object-fit: contain;
        min-width: 20px;
    }

    .menu-items li .shop-head {
        color: #000;
    }

    .footer-box {
        grid-column: span 2;
        padding-left: 1rem;
        margin-top: 20rem;
        margin-bottom: 2rem;
        width: 190px;
    }
}